
.form-group {
    font-family: Merriweather Sans, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;

}

.header {
    background:url(/assets/img/Gamer.jpg) no-repeat center center scroll;
    height: 300px;
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}